* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-size: ;
    }

.content {
    background: rgb(0,42,83);
    background: -moz-linear-gradient(0deg, rgba(0,42,83,1) 0%, rgba(0,94,145,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,42,83,1) 0%, rgba(0,94,145,1) 100%);
    background: linear-gradient(0deg, rgba(0,42,83,1) 0%, rgba(0,94,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002a53",endColorstr="#005e91",GradientType=1);  
}

body {
    min-width: 390px;
}

header, main, footer {
    width: 100%;
    padding: 0 35px;
}

header {
    padding-top: 20px;
}

main {
    padding-top: 30px;
}

footer {
    margin-top: 50px;
} 

.head {
    padding-bottom: 40px;
}

.technologies {
    margin-top: 100px;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.contact {    
    margin-top: 100px;
}

.technologies, .projects, .contact {
    padding-bottom: 50px;
}

.logo {
    font-family: 'Dosis', sans-serif;
    height: 120px;
    width: 330px;
    background: url("../logo/logo_lb3_white.svg") no-repeat;
    margin: 30px auto;
    margin-bottom: 3px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 1px;
    color: rgb(254, 114, 141);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
 }

 h1.moveInLeft {
    animation-name: moveInLeft;
    animation-duration: 2s;
 }

 h3 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(254, 114, 141);
    font-family: 'Poppins', sans-serif;
    font-size: 18.72px;
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #61DAFB;
    transition: 500ms ease-in-out;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-dark .navbar-toggler {
     border: none;
}


ul {
    text-decoration: none;
    text-align: center;
}

li {
    display: inline-block;
    padding: 1rem;
}

a {
   text-decoration: none;
   font-size: 1.3rem;
   color: white;
   cursor: pointer;
}

a:hover {
    color: #61DAFB;
    transition: 500ms ease-in-out;
}

.profil-photo {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url("../kepek/Profil.JPG") no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 76% 94%, 25% 94%, 0% 50%);
    margin-bottom: 30px;
}

.profil-photo.moveToBottom {
    animation-name: moveToBottom;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.profil-photo:hover {
    opacity: .8;
}

p {
    max-width: 500px;
    margin: 20px auto;
    color: white;
    text-align: justify;
    font-size: 1.2rem;
}

p.moveInRight {
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

span.name { 
     color: rgb(254, 114, 141);
}


.technologies h1, .projects h1, .contact h1 {
    color: white;
    text-shadow: 1px 1px 5px #61dafb;
    text-align: center;
}

.icons, .footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}


.icon {
    width: 100px;
    height: 100px;
    margin: 20px;
}

figcaption {
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.html5 {
    color: #de572b;
}

.css3 {
    color: #3E83B5;;
}

.javascript {
    color: #f0e432;;
}

.react {
    color:  #71d7fa;;
}

.wordpress {
    color: #00A0D2;;
}

.bootstrap {
    color: #9D7ED5;;
}



.project {
    width: calc(100% - 20px);
    height: 200px;
    margin: 10px;
    background: url('../kepek/project3.png') no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 8px 1px  black;
    opacity: .6;
}

.project:hover {
    opacity: 1;
}

.contact-form {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

label {
    display: block;
    width: 4rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
}

[type=text], [type=email], [type=tel] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
[type=tel] {
    margin-bottom: .4rem;
}

.form-box {
    margin: 1.5rem;
}

#message {
    border: none;
}

::placeholder, textarea {
    font-family: 'Dosis', sans-serif;
    font-size: .7rem;
    color: lightslategray;
    border-radius: 5px;
    padding: 5px 10px;
}

[type=submit] {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
}

i{
    padding: .8rem;
}

.copyright {
    font-family: 'Poppins';
    font-size: .8rem;
    color: white;
    margin: auto; 
    display: table;
    padding-bottom: 1rem;
}



@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-100px) rotate(0deg);
    }
    80% {
        transform: translateX(30px) rotate(1deg);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(100px) rotate(0deg);
    }
    80% {
        transform: translateX(-30px) rotate(-1deg);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveToBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@media screen and (min-width: 650px) {
    #project {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 450px) {
    li {
        display: inline;
        padding: .4rem;
        font-size: .8rem;
    }
}

@media screen and (max-width: 390px) {
    li {
        padding: .2rem;
        font-size: .2rem;
    }
}

@media screen and (max-width: 575px) {
    
    .navbar {
        display: flex;
        justify-content: center;
        margin: -10px 0;
    }

    .navbar-nav {
        margin-top: 1.2rem;
    }

    .nav-link {
        display: flex;
        justify-content: center;
        padding: 1rem;
        font-family: Dosis, sans-serif;
        font-size: 1.4rem;
    }

    .navbar-toggler-icon {
        font-size: 2rem;
    }
}